<h1>Choose a new password</h1>
<%= bootstrap_form_for @user, :url => password_reset_path(@token), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", :html => {:method => :put} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>
