<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>You have successfully activated your pairconnect.me account, <%= @user.username %>!</p>
    <p>To log in to the site, just follow this link: <%= link_to "Log in", root_url[0...-1] + login_path %>.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>


