<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to PairConnect, <%= @user.username %>!</p>
    <p>You have successfully signed up to pairconnect.me.
    To activate your account and log in, just follow this link: <%= link_to "Log in", root_url[0...-1] + "/users/#{@user.activation_token}/activate" %>.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
