<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>Hello <%= @user.try(:name) %>,</p>

  <p>You have requested to reset your password.</p>
  <p>To choose a new password, just follow this link: <%= link_to "Reset my password", @url %> </p>
  <p>Have a great day!</p>
  </body>
</html>
