<%= nested_form_for(@user, html: {multipart: true, class: "pure-form pure-form-stacked #{class_name}"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= yield f %>
    <%= f.submit 'Submit', class: "pure-button button-primary" %>
<% end %>

