<section>
<div class="pure-g">
  <div class="pure-u-1-3">
    <ul class="edit-profile-menu">
      <li class="edit-profile-link active">Edit Profile</li>
      <li class="edit-social-info-link">Edit Social Information</li>
      <li class="edit-pairing-info-link">Edit Pairing Information</li>
    </ul>
  </div>
  <div class="pure-u-2-3">
    <%= render :layout => 'form', locals: {class_name: "edit-form"} do |f| %>
    <div class="edit-profile-form">
      <h3 class="text-center">Edit Profile</h3>
        <%= f.email_field :email, placeholder: "Your Email" %>
        <%= f.text_field :username, placeholder: "Your Username" %>
        <%= f.fields_for :profile do |pf| %>
          <%= pf.text_field :name, placeholder: "Your Name" %>
          <%= pf.text_area :bio, placeholder: "A Little Bit About You" %>
        <% end %>
        </div>

        <div class="social-form" style="display:none;">
          <h3 class="text-center">Edit Social Information</h3>
          <%= f.fields_for :profile do |pf| %>
            <%= pf.text_field :twitter_handle, placeholder: "Twitter Handle"%>
            <%= pf.text_field :github_username, placeholder: "GitHub Username" %>
            <%= pf.url_field :website, placeholder: "Your Website" %>
          <% end %>
        </div>

        <div class="pairing-form" style="display:none;">
          <h3 class="text-center">Edit Pairing Information</h3>
          <%= f.fields_for :profile do |pf| %>
            <%= pf.text_field :languages, placeholder: "Languages you have experience with, or want to use during pairing." %>
            <div class="form-group">
            <%= pf.select(:skill_level, options_for_select([['Total Newbie', 'newbie'], ['Novice', 'novice'], ['Advanced Beginner', 'advanced_beginner'], ['Intermediate', 'intermediate'], ['Advanced', 'advanced']]), {prompt: "Select your Skill Level"}, {id: "ms", selected: @user.profile.skill_level}) %>
            </div>
            <div class="form-group">
              <%= pf.text_field :best_time, placeholder: "Best Times for Pairing?" %>
            </div>
            <div class="form-group">
              <%= pf.text_area :goal, placeholder: "What do you hope to achieve during a pairing session?" %>
            </div>
          <% end %>

        <h3 class="text-center">Your Projects</h3>
        <%= f.fields_for :projects do |pjf| %>
          <%= pjf.text_field :name, placeholder: "Name of Your Project" %>
          <%= pjf.text_area :description, placeholder: "Describe the Project" %>
          <%= pjf.text_field :url, placeholder: "URL of Project (if available)" %>
          <%= pjf.text_field :language, placeholder: "Language(s) the Project Uses" %>
          <%= pjf.text_field :source_code_url, placeholder: "URL of the Source Code" %>
          <%= pjf.text_area :requirements, placeholder: "Requirements for Starting on this Project (dependencies, libraries, etc)" %>
          <%= pjf.link_to_remove "Remove this Project", class: "button-error pure-button" %>
        <% end %>
        <% if @user.projects.blank? %>
          <p class="no-project-text">You haven't added a project yet.</p>
        <% end %>
        <%= f.link_to_add "Add a Project", :projects, class: "pure-button button-primary add-project" %>
        <br>
      </div>

      <div class="notification-form" style="display:none;">
        <h3 class="text-center">Edit Notification Settings</h3>
        notifications will go here
      </div>

      <div class="cancel-account-form" style="display:none;">
        <h3 class="text-center danger">Cancel Account</h3>
        form will go here
      </div>
    <% end %>
  </div>
</div>
<script>
  $(function() {
  $('#ms-1').change(function() {
    console.log($(this).val());
  }).multipleSelect({
  placeholder: "Please Select Your Best Times for Pairing",
  width: '80%'
  })
  });
  $(function() {
  $('#ms-2').change(function() {
    console.log($(this).val());
  }).multipleSelect({
  placeholder: "What do you want to achieve during a pair session?",
  width: '80%'
  })
  });

</script>
</section>
