<section class="users">
<div class="pure-g">
  <div class="pure-u-1-1">
    <div class="explanation"><h1>PairConnect is connecting you with your next pair.</h1>
      <script type="text/javascript">
        var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
        rumbleBannerBackgroundColor = "#161616";
        rumbleBannerTextColor = "#b0b0b0";
        rumbleBannerLinkColor = "#ffffff";
        rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
        </script>
                <script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2014.js" type="text/javascript"></script>
    <% if !current_user %>
      <%= link_to "Create Your Account Today", new_user_path, class: "pure-button" %>
    <% end %>
  </div>
  </div>
</div>

<% if @users %>
  <div class="pure-g">
    <% @users.each do |user| %>
    <div class="pure-u-1-1">
        <% unless user.guest? %>
            <a href="/users/<%= user.slug %>">
            <div class="user-item">
              <div class="pure-u-1-3">
                <span class="avatar"><%= image_tag user.gravatar_url(size: 75, default: "identicon") %></span>
                <span class="username"><i class="fa fa-user"></i> <%= user.username %></span>
              </div>
              <div class="pure-u-1-3">
                <% if !user.profile.nil? %>
                  <% if !user.profile.skill_level.nil? %>
                    <p><strong>Skill Level</strong>: <%= skill_level(user.profile.skill_level) %></p>
                  <% end %>
                  <p><strong>Number of Projects</strong>: <%= user.projects.count %></p>
                  <%if !user.profile.bio.nil? %>
                    <p><strong>Bio</strong>: <%= user.profile.bio %></p>
                  <% end %>
                <% end %>
                </div>
              </div>
            </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
</section>
