<section class="register"><h3>Create a PairConnect Account</h3>

<%= render :layout => "form", locals: {class_name: "sign-up-form"} do |f| %>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-3-3">
      <%= f.email_field :email, placeholder: "E-Mail Address." %>
    </div>

    <div class="pure-u-1 pure-u-md-3-3">
      <%= f.text_field :username, placeholder: "Username" %>
    </div>

    <div class="pure-u-1 pure-u-md-3-3">
      <%= f.password_field :password, placeholder: "Password" %>
    </div>

    <div class="pure-u-1 pure-u-md-3-3">
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    </div>
<% end %>
</section>
