<section class="user-profile">
<div class="user-header">
  <div class="user-information">
    <% if current_user == @user %>
    <span class="edit-profile"><%= link_to "<i class='fa fa-cog'></i> Edit Profile".html_safe, edit_user_path(@user), class:"pure-button pure-button-primary edit-profile-link" %></span>
  <% end %>
    <span class="avatar"><%= image_tag @user.gravatar_url(size: 150, default: "identicon") %></span>
    <span class="name"><%= @user.profile.try(:name) %></span>
    <span class="username"><%= @user.username %></span>
    <span class="email"><i class="fa fa-envelope"></i> <a href="mailto:<%= @user.email %>"><%= @user.email %></a></span>
    <span class="social">
      <% if !@user.profile.nil? %>
        <% if !@user.profile.twitter_handle.nil? %>
          <a href="http://twitter.com/<%= @user.profile.twitter_handle %>"><i class="fa fa-twitter"></i></a>
        <% end %>
        <% if !@user.profile.github_username.nil? %>
          <a href="http://github.com/<%= @user.profile.github_username %>"><i class="fa fa-github"></i></a>
        <% end %>
        <% if !@user.profile.website.nil? %>
          <a href="<%= @user.profile.website %>"><i class="fa fa-link"></i></a>
        <% end %>
      <% end %>
    </span>

  </div>
  <div class="user-bar">
    <% if @online %>
      <span class="online-now"><strong><i class="fa fa-asterisk"></i> User is Online Now</strong></span>
    <% end %>
    <% unless @user == current_user %>
    <% end %>
  </div>
</div>

<div class="user-profile">
  <span class="bio-section"><h3 class="bio-header">About <%= @user.username %></h3></span>
  <div class="aligncenter"></div>
  <div class="basic-info">
    <% if !@user.profile.nil? %>
      <% if current_user ==  @user && @user.profile.bio.blank? %>
        <p>Add your bio by <%= link_to "editing your profile", edit_user_path(@user) %></p>
      <% end %>
      <%= @user.profile.bio %><br/>
    </div>
    <% if @user.profile.languages.nil? && @user.profile.skill_level.nil? && @user.profile.best_time.nil? && @user.profile.goal.nil? %>
      <% if current_user == @user %>
        <span class="bio-section"><h3 class="bio-header">Pairing Information</h3></span>
        <div class="aligncenter"></div>
        <div class="pairing-info">
          <p>Add your pairing information by <%= link_to "editing your profile", edit_user_path(@user) %></p>
        </div>
      <% end %>
    <% else %>
    <span class="bio-section"><h3 class="bio-header">Pairing Information</h3></span>
    <div class="aligncenter"></div>
    <div class="pairing-info">
      <ul>
        <li><strong>Languages</strong>: <%= @user.profile.languages %></li>
        <li><strong>Skill Level</strong>: <%= skill_level(@user.profile.skill_level) %></li>
        <li><strong>Best Time</strong>: <%= @user.profile.best_time %></li>
        <li><strong>Goal of Pairing Session</strong>: <%= @user.profile.goal %></li>
      </ul>
    </div>
  <% end %>
  <% end %>
  <% if @user.projects.blank? %>
    <% if current_user == @user %>
      <span class="bio-section"><h3 class="bio-header">Project Information</h3></span>
      <div class="aligncenter"></div>
      <div class="project-info">
        <p>Are you working on a project? Add it by <%= link_to "editing your profile", edit_user_path(@user) %></p>
      </div>
    <% end %>
  <% else %>
    <span class="bio-section"><h3 class="bio-header">Project Information</h3></span>
    <div class="aligncenter"></div>
    <div class="project-info">
      <% if !@user.projects.blank? %>
        <ul>
          <% @user.projects.each do |pr| %>
            <h4 class="project-name"><%= pr.name %></h4>
            <li><strong>URL</strong>: <%= pr.url %></li>
            <li><strong>Description</strong>: <%= pr.description %></li>
            <li><strong>Language(s)</strong>: <%= pr.language %></li>
            <li><strong>Source Code</strong>: <%= pr.source_code_url %></li>
            <li><strong>Goals</strong>: <%= pr.goals %></li>
            <li><strong>Requirements</strong>: <%= pr.requirements %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </p>
  </div>
<% end %>
</section>
