<%- flash.each do |level, msg| %>
  <% if level == "notice" || level == "alert" %>
    <p class="fade in bg-success"><%= msg %>
  <% else %>
    <p class="fade in bg-<%= level %>"><%= msg %>
  <% end %>
  <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  </p>
<%- end %>
