<section class="friends-index">
<% if !@friends.blank? %>
  <% @friends.each do |usr| %>
    <a href="/users/<%= usr.slug %>">
      <div class="user-item">
        <div class="pure-u-3-3">
          <span class="avatar"><%= image_tag user.gravatar_url(size: 75, default: "identicon") %></span>
          <span class="username"><i class="fa fa-user"></i><%= user.username %></span>
        </div>
    <%= link_to "Go to #{usr.username}'s page", user_path(usr) %>
  <% end %>
<% else %>
  <p>You have no friends :( </p>
<% end %>
</section>

