<section style="padding-top:10em;">
<ul>
  <% @friends.each do |user| %>
    <% if !user.guest %>
      <li>
      <% if current_user.friend_with? user %>
        <%= user.username %>
        <p>You are already friends!</p>
      <% elsif current_user.invited? user %>
        <%= user.username %>
        <p>Pending request...</p>
      <% elsif user.invited? current_user %>
        <%= user.username %>
        <%= link_to "Confirm friend?", friend_path(user), method: "put" %>
      <% else %>
        <%= user.username %>
        <%= link_to "Add friend?", friends_path(:user_id => user), method: "post" %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
</section>
