@mixin rounded {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

@mixin bg-transition {
  -webkit-transition:background-color .2s ease-in-out;
  -moz-transition:background-color .2s ease-in-out;
  transition:background-color .2s ease-in-out;
}

@mixin color-transition {
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out;
  transition:color .2s ease-in-out;
}

@mixin opacity {
  -webkit-transition:opacity .2s ease-in-out;
  -moz-transition:opacity .2s ease-in-out;
  transition:opacity .2s ease-in-out;
}

@mixin box-shadow {
  box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
  -moz-box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
  -webkit-box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
}

@mixin big-background {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

@mixin sans-serif {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
}

@mixin sans-stronger {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
}

@mixin sans-emphasis {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-style: italic;
}

$red:#e74c3c;
$green: #2ecc71;
