@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import "mixins";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  padding: 10em 5em 100%;
  font-weight: 400;
  font-family: 'Lato', Arial, sans-serif;
  background: #f0f0f0;
}

section {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #fcfcfc;
  line-height: 1.3;
}

section p {
  opacity: 0.4;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 50;
  font-family: 'Lato', Arial, sans-serif;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


.header-perspective {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  perspective: 1100px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  perspective-origin: 50% 0;
}

.header-perspective > div {
  background: #58c6c6;
  text-align: left;
  padding: 0 7%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.header-front {
  z-index: 2;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.header-perspective .header-bottom {
  background: #ddd;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  z-index: 1;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  position: absolute;
  top: 0;
}

/* Justify inline-block elements (h1 on left side, nav on right) */
.header-perspective > div::after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Text styling */
.header h1,
.header h1::before,
.header h1 span,
.header nav,
.header nav::before {
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.header h1 {
  font-weight: 300;
  font-size: 3.2em;
  margin: 0;
  padding: 0 1em 0 0;
  color: #fff;
  cursor: default;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.header h1::before,
.header nav::before {
  content: '';
  height: 100%;
}

.header h1::after {
  content: '';
  width: 100px;
  height: 96px;
  background: #fff;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: inset 0 8px #2d383f, inset 0 16px #fff, inset 0 24px #2d383f, inset 0 32px #fff, inset 0 40px #2d383f, inset 0 48px #fff, inset 0 56px #2d383f;
  opacity: 0;
  border: 20px solid #fff;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header nav {
  height: 100%;
}

.header nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 0.5em 0.4em;
  margin: 0 0.4em 0;
  font-size: 0.95em;
  cursor: pointer;
  color: #fff;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
}

.header nav a:hover {
  color: #c6e5e4;
  @include color-transition;
  outline: none;
}

.header nav a.try-as-guest {
  border: 2px solid #fff;
}

.header nav a:last-child {
    margin-right: 0;
}

/* Individual states */

.header-large {
  height: 120px;
}

@media screen and (max-width: 65em) {
  body {
    font-size: 85%;
  }
}

@media screen and (max-width: 60em) {


  .header-perspective > div,
  .header nav {
    text-align: center;
  }

  .header h1 {
    padding: 10px 0;
    height: 60%;
  }

  .header .header-bottom nav {
    padding: 40px 0px;
  }

  .header nav {
    display: block;
    height: auto;
  }

}

@media screen and (max-width: 38em) {
  section {
    font-size: 1.3em;
  }

  .header h1 {
    font-size: 2em;
  }

  .header nav {
    font-size: 60%;
  }
}
