// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

section#toolbar {
  width: 100%;
  padding-top: 5em;
  ul.nav {
    background-color: #ddd;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  ul, li {
    display: inline-block;
    padding: 1% 5%;
    font-size: 1.5em;
    a {
      color: #555;
    }
    a:hover {
      color: #58c6c6;
      @include color-transition;
}
  }
}

section.conversations {
  background-color: #ddd;
  h1, h2 {
    color: #555;
  }
  ul {
    width: 33%;
  }
}
