// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome";

.header-intro {
  padding-top: 5em;
  height: 250px;
  width: 100%;
  background-color: teal;
}
