// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins';

.sign-up-form {
  max-width: 500px;
  padding: 10px 20px;
  margin: 10px auto;
  padding: 20px;
}

.register {
  padding-top: 2em;
  color: #555;
  h3 { color: #555; font-size: 2em; }
}

div.user-bar {
  color: #555;
  span.add-friend {
    width: 100%;
  }
  span.match {
    width: 100%;
    padding-top: 1em;
    display: inline-block;
  }
  span.online-now {
    width: 100%;
    bottom: 0;
    display: inline-block;
    padding-bottom: 5em;
    color: #58c6c6;
  }
}

div.user-profile {
  width: 70%;
  float: right;
  background-color: #fff;
  color: #555;
  text-align: left;
  div.aligncenter {
    width: 75%;
    height: 0;
    border-top: 2px solid #ff7500;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
  }
  span.bio-section {
    width: 100%;
    h3 {
      padding-bottom: 0;
      font-size: 2em;
      padding-top: 1em;
      text-align: center;
    }
  }
  div.basic-info, div.pairing-info, div.project-info {
    width: 90%;
    text-align: left;
    padding-top: 2em;
    margin: 0 auto;
    p {
      text-align: justify;
      opacity: 1;
    }
    ul, li {
      padding-bottom: 1em;
      list-style-type: none;
    }
    h4.project-name {
      font-size: 1.2em;
    }
    a{
      text-decoration: none;
      color: #58c6c6;
    }
  }
}

div.project-info {
  padding-bottom: 5em;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="password"] {
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}


section.users {
  a {
    text-decoration: none;
    color: #555;
  }
  p {
    opacity: 1;
    color: #555;
  }
  strong {
    color: #555;
  }
  h1 {
    font-family: "Lato";
    color: #555;
  }
  div.explanation {
    padding-bottom: 1em;
  }
  height: 50em;
  font-size: 1.2em;
  padding-top: 5em;
  div.user-item {
    text-align: justify;
    width: 100%;
    padding: 2em;
    border: 4px solid #FFBE83;
    border-bottom: 0px;
    border-top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #82BFC4;
    span.avatar {
      width: 100%;
      display:inline-block;
    }
  }
  div.user-item:hover {
    opacity: .9;
  }
  span.username {
    width: 100%;
    color: black;
    margin: 0;
  }
}


div.user-header {
  width: 25%;
  background: #fff;
  float: left;
  height: 400px;
  padding-top: 1em;
  div.user-information {
    width: 100%;
    margin-top: 1em;
  }
  a.edit-profile-link {
    margin-bottom: 1em;
    text-align: left;
  }
  span.name {
    text-align: left;
    padding-left: .5em;
    font-size: 1.5em;
    width: 100%;
    display: inline-block;
    color: #555;
    font-weight: 700;
  }
  span.username {
    text-align: left;
    width: 100%;
    padding-left: .5em;
    font-size: 1.5em;
    color: #555;
    display: inline-block;
  }
  span.email, span.social {
    font-size: .9em;
    color: #555;
    text-align: left;
    display: inline-block;
    padding-left: .9em;
    width: 100%;
  }
  span.email a {
    text-decoration: none;
    color: #555;
  }
  span.email a:hover {
    text-decoration: underline;
  }
  span.social {
    text-align: center;
  }
  span.social a {
    padding-right: .5em;
    font-size: 2em;
    color: #555;
  }
  span.social a:hover {
    color: #58c6c6;
    @include color-transition;
  }
  span.avatar {
    width: 100%;
    display: inline-block;
  }
}

form.edit-form {
  margin-top: 5em;
  padding: 0 1em;
  p {
    opacity: 1;
    color: #555;
  }
  a {
    color: #58c6c6;
  }
  h3 {
    color: #555;
  }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  select,
  textarea {
    width: 80%;
  }
  select {
    height: 26px;
  }
  a.add-project {
    margin-bottom: 5em;
    margin-top: 2em;
  }
}

.edit-profile-menu {
  margin-top: 5em;
  padding: 0 1em;
  ul, li {
    list-style-type: none;
    padding-bottom: .5em;
    text-align: left;
    width: 80%;
    display: block;
  }
  li {
    @include rounded;
    background-color: #36AAAA;
    margin-bottom: .25em;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: "Lato", Arial, sans-serif;
    background-color: #36AAAA;
  }
}

/* @media screen and (max-width: 900px) { */
/*   div.user-header { */
/*     width: 100%; */
/*     height: 250px; */
/*     margin-top: 5em; */
/*     span.username { */
/*       padding-left: 2.5em; */
/*     } */
/*     span.email, span.social { */
/*       padding-left: 6.3em; */
/*     } */
/*   } */
/*   div.user-profile { */
/*     margin-top: 5em; */
/*     width: 100%; */
/*     float: none; */
/*   } */
/* } */
/* @media screen and (max-width: 650px) { */
/*   div.user-header { */
/*     height: 550px; */
/*     width: 50%; */
/*     div.user-information { */
/*       width: 50%; */
/*     } */
/*     span.username { */
/*       width: 50%; */
/*       text-align: left; */
/*       padding-left: .4em; */
/*     } */
/*     span.avatar { */
/*       text-align: left; */
/*       display: block; */
/*       width: 50%; */
/*       padding-left: 1em; */
/*     } */
/*     span.email { */
/*       width: 50%; */
/*       text-align: left; */
/*       padding-left: 1em; */
/*     } */
/*   } */
/* } */
/*  */
/*  */
