// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  padding-top: 2em;
  label {
    color: #555;
  }
  h1 {
    padding-bottom: 0;
    color: #555;
  }
  a {
    text-decoration: none;
    color: #555;
  }
  a:hover {
    text-decoration: underline;
  }
  .login-button {
    margin-top: 2em;
    margin-bottom: 2em;
}
}
