<section class='login'>
<%= bootstrap_form_tag url: user_sessions_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", :method => :post do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.form_group do %>
    <%= f.check_box :remember, label: "Remember Me"  %>
    <%= f.submit "Log In", class: "pure-button button-primary login-button" %>
    <% end %>
<% end %>
</section>
