<!DOCTYPE html>
<html>
<head>
  <title>Pairconnect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag  asset_path("application.css"), media: "all" %>
  <%= javascript_include_tag asset_path("application.js") %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/buttons-min.css">
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="cwV9YL3gMwoFOmIBpHafpd2dE6GOoWpLfT4ntdwdmxI" />

</head>
<body>

    <div class='container'>
    <header id="header" class="header header-large">
    <div class="header-perspective">
      <div class="header-front">
        <h1><span>Pair Connect</span></h1>
        <nav>
        <%= link_to "Home", root_path %>
        <% if current_user %>
          <% if current_user.guest? %>
            <%= link_to "Become a Member", new_user_path %>
          <% else %>
            <%= link_to "My Profile", user_path(current_user.id) %>
            <%= link_to "Log Out", :logout, method: :post %>
          <% end %>
        <% else %>
          <%= link_to "Register", new_user_path %> <%= link_to "Log In", :login  %> <%= link_to "Try as a Guest", users_path, method: :post, class: "try-as-guest"%>
        <% end %>
        </nav>
      </div>
      <div>
    </header>

    <% if flash[:notice] %>
      <p id="flash_notice"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>

  <%= javascript_include_tag asset_path("waypoints.js"), "data-turbolinks-track" => true %>
</body>
</html>
