<!DOCTYPE html>
<html>
<head>
  <title>pair connect | connecting you with your next pair.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag  asset_path("static.css"), media: "all" %>
  <%= javascript_include_tag asset_path("static.js") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="navbar">
  <div class="container">
    <a href="/"><h1><span>Pair Connect</span></h1>
      <ul class="navigation-links">
        <%= link_to "Home", root_path %>
        <% if current_user %>
          <% if current_user.guest? %>
            <li><%= link_to "Become a Member", new_user_path %></li>
          <% else %>
            <li><%= link_to "My Profile", user_path(current_user.id) %></li>
            <li><%= link_to "Log Out", :logout, method: :post %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Register", new_user_path %> <%= link_to "Log In", :login  %> <%= link_to "Try as a Guest", users_path, method: :post, class: "try-as-guest"%></li>
        <% end %>
      </ul>
    </div>
    </section>

    <header>
    <div class="container">
      <h2><span class="highlight">PairConnect </span> is connecting you with your next pair.</h2>
    </div>
    </header>

    <section class="container">
    <%= yield %>
    </section>

    <footer class="row">
    <div class="column one-third">
      <p>Pair Connect was made as part of <%= link_to "Rails Rumble "
</body>
